/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}
.top{
  height: 850px;

}
.navbar{
  position: relative;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
  scroll-behavior: smooth;
}
body {
  color: #9E9E9E;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 600px;
?  /*height: 100%; */
  /*min-height: 100%;*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */
.black{
  color: black;
  width: 700px;

}
.cover {
  padding: 0 20px;
}
.cover-heading{
  font-family: 'Sansita Swashed', cursive;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Affix and center
 */
 .bg{
  background-image: url("../bg.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vid{
 background-image: url("../testvid.gif");
 height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size:auto;
}

 .form-signin {
   width: 100%;
   max-width: 330px;
   padding: 15px;
   margin-top: 20px;
   margin: auto;
   text-align: center;
 }
 #signtext{
  margin-top: 100px;
  padding-bottom: 5px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.formbutton{
  margin: 20px;
}
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

.middle{
  align-items: center;
  font-family: 'Sansita Swashed', cursive;

}
.card-body{
  background: rgb(71,83,157);
background: linear-gradient(324deg, rgba(71,83,157,1) 0%, rgba(9,121,61,1) 35%, rgba(0,212,255,1) 100%);

}

p{
  animation-duration: 2s;
  animation-name: slide;
}
@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.result{
  align-items: center;
  text-align: center;
  height: 100%;
  background-color: red;
  animation-duration: 3s;
  animation-name: appear;
}
@keyframes appear {
  from {
    margin-left: 100%;
    width: 300%;
    font-size: 16px;
  }

  to {
    margin-left: 0%;
    width: 100%;
    background-color: #17a2b8;
    font-size: 100px;
  }
}

#head{
  justify-content: center;
  padding-top: 288px;
  bottom: 50%;
}
.answer{
  display: block;
}

.features{
  background: rgb(219,16,10);
  background: linear-gradient(319deg, rgba(219,16,10,1) 0%, rgba(226,16,193,1) 35%, rgba(152,225,255,1) 100%);
  height:300px;
}

.f2{
  padding: 100px;
  border-left: 40px;
  justify-content: center;
  align-items: center;
  font-family: 'Sansita Swashed', cursive;
  padding-bottom: 0px;
}
